{{define "Footer"}}
 <footer>
    <h4>Contributors</h4>
            <table>
                <tr>
                    <td >
                        <a href=https://learn.zone01kisumu.ke/git/abrakingoo>
                            <img src=https://learn.zone01kisumu.ke/git/avatars/c307852c0cb9222c1ea2c71f98ff2d51?
                                size=870
                                width="100;"
                                style="border-radius:50%;align-items:center;justify-content:center;overflow:hidden"
                                alt=Abraham />
                            <br />
                            <sub style="font-size:17px; color: white;"><b>Beginner Developer</b></sub><br>
                            <sub style="font-size:14px; color: white;"><b>Abraham kingoo</b></sub>
                        </a>
                    </td>
                    <td>
                        <a href=https://learn.zone01kisumu.ke/git/jmuchiri>
                            <img src=https://learn.zone01kisumu.ke/git/avatars/80ba9a3df8716400b147c98e67795c9d?
                                size=870
                                width="100;"
                                style="border-radius:50%;align-items:center;justify-content:center;overflow:hidden"
                                alt=James />
                            <br />
                            <sub style="font-size:17px; color: white;"><b>Beginner Developer</b></sub><br>
                            <sub style="font-size:14px; color: white;"><b>James Muchiri</b></sub>
                        </a>
                    </td>
                </tr>
            </table> <br>
            <span><a href="/"
                    style="font-size:1.3em; color: white;">&copy; 2024 groupie-tracker™</a></span>
        </footer>
</body>
</html>
{{end}}