{{define "Main"}}
<h4>Main</h4>
{{range .}}
    <img src="{{.Image}}" alt="">
    <h5>Band Name: {{.Name}}</h5>
    <h5>Members</h5>
    <ol>
        {{range .Members}}
        <li>{{.}}</li>
        {{end}}
    </ol>
    <h5>creation Date: {{.CreationDate}}</h5>
    <h5>First Album: {{.FirstAlbum}}</h5>
    <form action="/location" method="post" >
        <input type="hidden" name="url" value="{{.Locations}}">
        <input type="submit" value="Location">
    </form>
    <p><a href="{{.ConcertDates}}">Concert Dates</a></p>
    <p><a href="{{.Relations}}">Relations</a></p>
    

{{end}}
{{end}}